/* Colours */
/* Typography */
* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.header .logo-container {
  box-shadow: 0 4px 2px -2px #a9a9a9;
  width: 100%;
  padding: 15px;
}
.header #location {
  background-color: #e6e6e6;
  box-shadow: inset 0 5px 5px -5px #a9a9a9;
  width: 100%;
  padding: 15px 25px 15px 0;
}
.header #location .location-icon {
  margin-right: 15px;
}
.header .explore-title {
  padding: 23px 0 23px 0;
}
.header .explore {
  background-color: #f2f2f2;
  width: 100%;
}
.header .explore-btn {
  box-shadow: 0 4px 7px 2px #a9a9a9;
  margin: 20px 0 55px 0;
}
.header p span {
  display: block;
}

.how-it-works .how-title {
  padding: 40px 0 15px 20px;
  margin: 0;
}

.how-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  counter-reset: item;
  list-style: none;
  padding: 0 0 30px 20px;
  gap: 25px;
}
.how-list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  counter-increment: item;
  gap: 10px;
  padding-left: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px 2px #e6e6e6;
  width: 310px;
  height: 65px;
  position: relative;
}
.how-list li:before {
  border-radius: 100%;
  color: #ffffff;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  content: counter(item);
  position: absolute;
  left: -12px;
}
.how-list .list-icon {
  color: grey;
}

.restaurants {
  background-color: #f2f2f2;
  padding-bottom: 60px;
}
.restaurants h3 {
  padding: 40px 0 15px 20px;
  margin: 0;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.base-card {
  border-radius: 15px;
  overflow: hidden;
  width: 340px;
  height: 230px;
  max-height: 230px;
  position: relative;
  box-shadow: 0 4px 7px 2px #a9a9a9;
}
.base-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 160px;
  height: 160px;
}
.base-card .card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.base-card .card-info {
  padding: 10px 12px;
}
.base-card h4 {
  margin: 0;
}
.base-card p {
  padding-top: 5px;
  margin: 0;
}
.base-card .full-heart {
  display: none;
}
.base-card .heart-icons {
  font-size: 25px;
  padding: 15px 20px;
}

.new-overlay {
  position: absolute;
  top: 10px;
  color: #227763;
  background-color: #99E2D0;
  right: 20px;
  padding: 5px 23px;
  border-radius: 2px;
}

.ohmyfood-footer {
  background-color: #333333;
  padding: 20px;
}
.ohmyfood-footer ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
  padding-top: 15px;
  line-height: 25px;
}
.ohmyfood-footer ul .list-flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ohmyfood-footer ul .list-flex-container i {
  font-size: 11px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -5px;
}

.header .main-logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  color: #000000;
  text-decoration: none;
}
.header #location {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #333333;
}
.header .explore-title {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
.header .explore p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.header .explore-btn {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}

.how-it-works .how-title {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}
.how-it-works .how-list {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.restaurants .restaurants-title {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}
.restaurants .base-card {
  font-family: "Roboto", sans-serif;
}
.restaurants a {
  text-decoration: none;
  color: #000000;
}
.restaurants p {
  font-weight: 300;
  font-size: 15px;
}

.new-overlay {
  font-size: 12px;
  font-weight: 500;
}

.ohmyfood-footer .footer-logo {
  font-family: "Shrikhand", sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.ohmyfood-footer ul {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #ffffff;
}
.ohmyfood-footer a {
  color: #ffffff;
  text-decoration: none;
}

.explore-btn {
  border-style: none;
  border-radius: 30px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  width: 210px;
  height: 50px;
}/*# sourceMappingURL=main.css.map */