/* Colours */
/* Typography */
* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.header .logo-container {
  box-shadow: 0 4px 2px -2px #a9a9a9;
  width: 100%;
  padding: 15px;
}
.header #location {
  background-color: #e6e6e6;
  box-shadow: inset 0 5px 5px -5px #a9a9a9;
  width: 100%;
  padding: 15px 25px 15px 0;
}
.header #location .location-icon {
  margin-right: 15px;
}
.header .explore-title {
  padding: 23px 0 23px 0;
}
.header .explore {
  background-color: #f2f2f2;
  width: 100%;
}
.header .explore-btn {
  margin: 20px 0 55px 0;
}
.header p span {
  display: block;
}

.how-it-works .how-title {
  padding: 40px 0 15px 20px;
  margin: 0;
}

.how-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  counter-reset: item;
  list-style: none;
  padding: 0 0 30px 20px;
  gap: 25px;
}
.how-list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  counter-increment: item;
  gap: 10px;
  padding-left: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px 2px #e6e6e6;
  width: 310px;
  height: 65px;
  position: relative;
}
.how-list li:before {
  border-radius: 100%;
  color: #ffffff;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  content: counter(item);
  position: absolute;
  left: -12px;
}
.how-list .list-icon {
  color: grey;
}

.list-item:hover {
  background-color: #f1eafb;
}

.list-item:hover .list-icon {
  color: #9356DC;
}

.restaurants {
  background-color: #f2f2f2;
  padding-bottom: 60px;
}
.restaurants h3 {
  padding: 40px 0 15px 20px;
  margin: 0;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.base-card {
  border-radius: 15px;
  overflow: hidden;
  width: 340px;
  height: 230px;
  max-height: 230px;
  position: relative;
  box-shadow: 0 4px 7px 2px #cccccc;
}
.base-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 160px;
  height: 160px;
}
.base-card .card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.base-card .card-info {
  padding: 10px 12px;
}
.base-card h4 {
  margin: 0;
}
.base-card p {
  padding-top: 5px;
  margin: 0;
}
.base-card .full-heart {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, #FF79DA), color-stop(1, #9356DC));
  background-image: gradient(linear, left top, right top, color-stop(0.5, #FF79DA), color-stop(1, #9356DC));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  top: 20px;
  left: 1px;
  z-index: 1;
  -webkit-clip-path: inset(100% 0 0 0);
          clip-path: inset(100% 0 0 0);
  transition: -webkit-clip-path 0.7s;
  transition: clip-path 0.7s;
  transition: clip-path 0.7s, -webkit-clip-path 0.7s;
}
.base-card .heart-icons {
  display: inline-block;
  position: relative;
  font-size: 25px;
  padding: 15px 20px;
  overflow: hidden;
}
.base-card .empty-heart {
  position: absolute;
  top: 20px;
  left: 1px;
  z-index: 2;
}

.heart-icons:hover .full-heart {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

.base-card:hover {
  box-shadow: 0 4px 7px 2px #a9a9a9;
}

.new-overlay {
  position: absolute;
  top: 10px;
  color: #227763;
  background-color: #99E2D0;
  right: 20px;
  padding: 5px 23px;
  border-radius: 2px;
}

.ohmyfood-footer {
  background-color: #333333;
  padding: 20px;
}
.ohmyfood-footer ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
  padding-top: 15px;
  line-height: 25px;
}
.ohmyfood-footer ul .list-flex-container {
  display: flex;
  align-items: center;
}
.ohmyfood-footer ul .list-flex-container i {
  font-size: 11px;
  width: 11px;
  margin-right: 10px;
}

.header .main-logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  color: #000000;
  text-decoration: none;
}
.header #location {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #333333;
}
.header .explore-title {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
.header .explore p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.header .explore-btn {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}

.how-it-works .how-title {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}
.how-it-works .how-list {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.restaurants .restaurants-title {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}
.restaurants .base-card {
  font-family: "Roboto", sans-serif;
}
.restaurants a {
  text-decoration: none;
  color: #000000;
}
.restaurants p {
  font-weight: 300;
  font-size: 15px;
}

.new-overlay {
  font-size: 12px;
  font-weight: 500;
}

.ohmyfood-footer .footer-logo {
  font-family: "Shrikhand", sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.ohmyfood-footer ul {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #ffffff;
}
.ohmyfood-footer a {
  color: #ffffff;
  text-decoration: none;
}

/* Bastille */
.bastille-header .main-logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  color: #000000;
  text-decoration: none;
}

.bastille-menu .bastille-title {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.bastille-menu h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.bastille-menu h3 {
  font-family: "Roboto", sans-serif;
}
.bastille-menu p {
  font-family: "Roboto", sans-serif;
}
.bastille-menu .price {
  font-weight: 600;
}
.bastille-menu .order-button {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}

.explore-btn {
  border-style: none;
  border-radius: 30px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  width: 210px;
  height: 50px;
  box-shadow: 0 4px 7px 2px #cccccc;
}

.explore-btn:hover {
  background-image: linear-gradient(to bottom right, #ff99e2, #bb95ea);
  box-shadow: 0 4px 7px 2px #a9a9a9;
}

.order-button {
  border-style: none;
  border-radius: 30px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  width: 210px;
  height: 50px;
  box-shadow: 0 4px 7px 2px #cccccc;
}

.order-button:hover {
  background-image: linear-gradient(to bottom right, #ff99e2, #bb95ea);
  box-shadow: 0 4px 7px 2px #a9a9a9;
}

.bastille-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.arrow {
  font-size: 20px;
}
.arrow a {
  color: #333333;
  text-decoration: none;
}

.menu-logo {
  text-align: center;
  flex-grow: 1;
}

.menu-image {
  position: relative;
  width: 100%;
}

.bastille-menu {
  position: absolute;
  top: 40%;
  right: 0;
  background-color: white;
  width: 100%;
  padding-bottom: 100px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.bastille-menu h1 {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  padding: 40px 0 15px 20px;
  margin: 0;
  width: 90%;
}
.bastille-menu h1 .full-heart {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, #FF79DA), color-stop(1, #9356DC));
  background-image: gradient(linear, left top, right top, color-stop(0.5, #FF79DA), color-stop(1, #9356DC));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  top: 3px;
  left: 1px;
  z-index: 1;
  -webkit-clip-path: inset(100% 0 0 0);
          clip-path: inset(100% 0 0 0);
  transition: -webkit-clip-path 0.7s;
  transition: clip-path 0.7s;
  transition: clip-path 0.7s, -webkit-clip-path 0.7s;
}
.bastille-menu h1 .heart-icons {
  display: inline-block;
  position: relative;
  font-size: 25px;
  padding: 15px 20px;
  overflow: hidden;
}
.bastille-menu h1 .empty-heart {
  position: absolute;
  top: 3px;
  left: 1px;
  z-index: 2;
}
.bastille-menu h2 {
  padding: 10px 20px;
}
.bastille-menu h2 .border-text {
  border-bottom: solid 2px #99E2D0;
  padding-bottom: 5px;
}
.bastille-menu .food-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.bastille-menu .food-card-container .food-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  width: 90%;
  box-shadow: 0 4px 10px 2px #cccccc;
  border-radius: 15px;
  padding: 10px;
  line-height: 25px;
  position: relative;
  overflow: hidden;
}
.bastille-menu .food-card-container .left-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bastille-menu .food-card-container .left-text .card-title,
.bastille-menu .food-card-container .left-text .card-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bastille-menu .food-card-container .right-text {
  float: left;
  text-align: right;
  position: relative;
}
.bastille-menu .food-card-container .tick-container {
  background-color: #99E2D0;
  position: absolute;
  top: 28px;
  right: 0;
  left: 50px;
  opacity: 0;
  transform: translateY(-50%);
  transition: right 0.3s, opacity 0.3s;
  padding: 30px 40px 30px 20px;
}
.bastille-menu .food-card-container .tick {
  font-size: 19px;
  color: white;
  transition: transform 0.5s ease;
}
.bastille-menu .food-card-container .card-title {
  margin: 0;
}
.bastille-menu .food-card-container .card-desc {
  margin: 0;
}
.bastille-menu .food-card-container .price {
  margin: 0;
  padding-top: 25px;
  transition: margin-right 0.3s;
}

.food-card:hover .tick-container {
  right: 10px;
  opacity: 1;
}

.food-card:hover .tick {
  transform: rotate(360deg);
}

.food-card:hover .price {
  margin-right: 70px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.heart-icons:hover .full-heart {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

.menu-footer {
  position: absolute;
  top: 215%;
  width: 100%;
}/*# sourceMappingURL=main.css.map */