@import "layouts/homepage";
@import "styles/typography";

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

header {
    .logo {
    font-family: $font-primary;
    font-size: $font-size-logo;
    font-weight: $font-weight-logo;
    }
}

