$font-primary: 'Shrikhand', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$font-size-logo: 33px;
$font-size-heading: 22px;
$font-size-body: 15px;

$font-weight-logo: 500;
$font-weight-body: 600;

.header {
    #location {
        font-family: $font-secondary;
        font-size: $font-size-body;
        font-weight: $font-weight-body;
    }
    .explore-title {
        font-family: $font-secondary;
        font-size: $font-size-heading;
        font-weight: $font-weight-body;
    }
    .explore p {
        font-family: $font-secondary;
        font-size: $font-size-body;
    }
}