.header {
    #location {
        font-family: $font-secondary;
        font-size: $font-size-small;
        font-weight: $font-weight-body;
        color: $location-color;
    }
    .explore-title {
        font-family: $font-secondary;
        font-size: $font-size-heading;
        font-weight: $font-weight-body;
    }
    .explore p {
        font-family: $font-secondary;
        font-size: $font-size-body;
        font-weight: $font-weight-light;
    }

    .explore-btn {
        font-family: $font-secondary;
        font-size: $font-size-small;
        font-weight: $font-weight-mid;
        color: #ffffff;
    }
}