.header {
    #location {
        font-family: $font-secondary;
        font-size: $font-size-small;
        font-weight: $font-weight-body;
        color: $location-color;
    }
    .explore-title {
        font-family: $font-secondary;
        font-size: $font-size-heading;
        font-weight: $font-weight-body;
    }
    .explore p {
        font-family: $font-secondary;
        font-size: $font-size-body;
        font-weight: $font-weight-light;
    }

    .explore-btn {
        font-family: $font-secondary;
        font-size: $font-size-small;
        font-weight: $font-weight-mid;
        color: #ffffff;
    }
}

.how-it-works {
    .how-title {
        font-family: $font-secondary;
        font-size: $font-size-heading;
    }
    .how-list {
        font-family: $font-secondary;
        font-size: $font-size-small;
        font-weight: $font-weight-body;
    }
}

.restaurants {
    .restaurants-title {
        font-family: $font-secondary;
        font-size: $font-size-heading;
    }
    .base-card {
        font-family: $font-secondary;
    }
        & a {
            text-decoration: none;
            color: #000000;
        }

        & p {
            font-weight: $font-weight-light;
            font-size: $font-size-small;
        }
}

.new-overlay {
    font-size: 12px;
    font-weight: $font-weight-mid;
}