$corner-radius-default: 15px;
$header-padding: 40px 0 15px 20px;

/* Colours */

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$shadow-color: #a9a9a9;

$location-bg-color: #e6e6e6;
$location-color: #333333;

$body-bg-color: #f2f2f2;

/* Typography */

$font-primary: 'Shrikhand', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$font-size-heading: 22px;
$font-size-body: 16px;
$font-size-small: 15px;

$font-weight-body: 600;
$font-weight-mid: 500;
$font-weight-light: 300;