@mixin flexhorizontal($justification: space-between) {
  display: flex;
  justify-content: $justification;
  align-items: center;
}

@mixin flexstart {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
}

@mixin cardflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-header {
  @include flexhorizontal();
  padding: 15px;
}

.arrow {
  font-size: 20px;

  & a {
    color: $location-color;
    text-decoration: none;
  }
}

.menu-logo {
  text-align: center;
  flex-grow: 1;
}

.menu-image {
  position: relative;
  width: 100%;
}

.menu-section {
  position: relative;
  margin-top: -20%;
  background-color: white;
  width: 100%;
  padding-bottom: 100px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  h1 {
    @include flexstart();
    padding: $header-padding;
    margin: 0;
    width: 90%;

    & .full-heart {
      background-image: -webkit-linear-gradient(#FF79DA, #9356DC);
      background-image: linear-gradient(#FF79DA, #9356DC);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      position: absolute;
      top: 3px;
      left: 1px;
      z-index: 1;
      clip-path: inset(100% 0 0 0);
      transition: clip-path 0.7s;
    }

    .heart-icons {
      display: inline-block;
      position: relative;
      font-size: 25px;
      padding: 15px 20px;
      overflow: hidden;
    }

    .empty-heart {
      position: absolute;
      top: 3px;
      left: 1px;
      z-index: 2;

      &:hover,
      &:active {
        opacity: 0;
        transition: opacity 0.9s;
      }
    }
  }

  h2 {
    padding: 10px 20px;

    & .border-text {
      border-bottom: solid 2px $tertiary-color;
      padding-bottom: 5px;
    }
  }

  .food-card-container {
    @include flexcenter();
    gap: 10px;

    .food-card {
      @include cardflex();
      margin: 0;
      width: 90%;
      box-shadow: 0 4px 10px 2px $shadow-light;
      border-radius: $corner-radius-default;
      padding: 10px;
      line-height: 25px;
      position: relative;
      overflow: hidden;
      opacity: 0;
      animation: fadeInUp 0.5s ease forwards;

      @keyframes fadeInUp {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }

        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    .food-card:nth-child(1) {
      animation-delay: 0.2s;
    }
    
    .food-card:nth-child(2) {
      animation-delay: 0.4s;
    }
    
    .food-card:nth-child(3) {
      animation-delay: 0.6s;
    }

    .food-card:nth-child(4) {
      animation-delay: 0.8s;
    }

    .left-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .card-title,
      .card-desc {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .right-text {
      float: left;
      text-align: right;
      position: relative;
    }

    .tick-container {
      background-color: #99E2D0;
      position: absolute;
      top: 28px;
      right: 0;
      left: 50px;
      opacity: 0;
      transform: translateY(-50%);
      transition: right 0.3s, opacity 0.3s;
      padding: 30px 40px 30px 20px;
    }

    .tick {
      font-size: 19px;
      color: white;
      transition: transform 0.5s ease;
    }

    .card-title {
      margin: 0;
    }

    .card-desc {
      margin: 0;
    }

    .price {
      margin: 0;
      padding-top: 25px;
      transition: margin-right 0.3s;
    }

  }

}

.enchanted-image {
  max-height: 250px;
  object-fit: cover;
}

.food-card:hover .tick-container {
  right: 10px;
  opacity: 1;
}

.food-card:hover .tick {
  transform: rotate(360deg);
}

.food-card:hover .price {
  margin-right: 70px;
}

.button-container {
  @include flexcenter();
  margin-top: 50px;
}

.heart-icons:hover .full-heart {
  clip-path: inset(0 0 0 0);
}

/* Media Queries */

/* Desktop and Tablet Media Query */


@media screen and (min-width: 769px) {

  .menu-section {
    margin-top: -35%;
  }

  .menu-section .food-card-container .food-card {
    width: 50%;
  }

  .menu-section h2 {
    display: flex;
    justify-content: center;
  }

  .enchanted-image {
    max-height: 700px;
    object-fit: cover;
  }


}