@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flexhorizontal($justification: center) {
    display: flex;
    justify-content: $justification;
    align-items: center;
}

@mixin cardflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}

.loader {
    @include flexcenter();
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $tertiary-color;
    transition: opacity 0.75s, visibility 0.75s;
    opacity: 1;
    visibility: visible;
    animation: fadeOut 1s 3s forwards;
    z-index: 999;

}

.loader::after {
    content: "";
    width: 90px;
    height: 90px;
    border: 15px solid $secondary-color;
    border-top-color: $primary-color;
    border-radius: 50%;
    animation: loading 0.75s ease infinite, fadeOut 1s 3s forwards;

}

@keyframes loading {
    from {
        transform: rotate(0turn)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.header {
    @include flexcenter();
    width: 100%;
    text-align: center;

    .logo-container {
        box-shadow: 0 4px 2px -2px $shadow-color;
        width: 100%;
        padding: 15px;
    }

    #location {
        background-color: $location-bg-color;
        box-shadow: inset 0 5px 5px -5px $shadow-color;
        width: 100%;
        padding: 15px 25px 15px 0;

        .location-icon {
            margin-right: 15px;
        }
    }

    .explore-title {
        padding: 23px 0 23px 0;
    }

    .explore {
        background-color: $body-bg-color;
        width: 100%;
    }

    .explore-btn {
        margin: 20px 0 55px 0;
    }

    p {
        span {
            display: block;
        }
    }
}

.how-it-works {
    .how-title {
        padding: $header-padding;
        margin: 0;
    }
}

.how-list {
    @include flexcenter();
    counter-reset: item;
    list-style: none;
    padding: 0 0 30px 20px;
    gap: 25px;

    & li {
        @include flexhorizontal(flex-start);
        counter-increment: item;
        gap: 10px;
        padding-left: 30px;
        border-radius: $corner-radius-default;
        box-shadow: 0 4px 10px 2px $location-bg-color;
        width: 310px;
        height: 65px;

        &:before {
            border-radius: 100%;
            color: #ffffff;
            background-color: $primary-color;
            width: 24px;
            height: 24px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            content: counter(item);
            position: absolute;
            left: -12px;
        }

        position:relative;

    }

    .list-icon {
        color: grey;
    }
}

.list-item:hover {
    background-color: #f1eafb;
}

.list-item:hover .list-icon {
    color: $primary-color;
}

.restaurants {
    background-color: $body-bg-color;
    padding-bottom: 60px;

    & h3 {
        padding: $header-padding;
        margin: 0;
    }
}

.gallery {
    @include flexcenter();
    gap: 20px;
}

.base-card {
    border-radius: $corner-radius-default;
    overflow: hidden;
    width: 340px;
    height: 230px;
    max-height: 230px;
    position: relative;
    box-shadow: 0 4px 7px 2px $shadow-light;

    & img {
        object-fit: cover;
        width: 100%;
        max-height: 160px;
        height: 160px;
    }

    .card-container {
        @include cardflex();
    }

    .card-info {
        padding: 10px 12px;
    }

    & h4 {
        margin: 0;
    }

    & p {
        padding-top: 5px;
        margin: 0;
    }

    .full-heart {
        background-image: -webkit-linear-gradient(#FF79DA, #9356DC);
        background-image: linear-gradient(#FF79DA, #9356DC);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        position: absolute;
        top: 20px;
        left: 1px;
        z-index: 1;
        clip-path: inset(100% 0 0 0);
        transition: clip-path 0.7s;
    }

    .heart-icons {
        display: inline-block;
        position: relative;
        font-size: 25px;
        padding: 15px 20px;
        overflow: hidden;
    }

    .empty-heart {
        position: absolute;
        top: 20px;
        left: 1px;
        z-index: 2;

        &:hover,
        &:active {
            opacity: 0;
            transition: opacity 0.9s forwards;
        }
    }

}

.heart-icons:hover .full-heart {
    clip-path: inset(0 0 0 0);
}

.base-card:hover {
    box-shadow: 0 4px 7px 2px $shadow-color;
}

.new-overlay {
    position: absolute;
    top: 10px;
    color: #227763;
    background-color: $tertiary-color;
    right: 20px;
    padding: 5px 23px;
    border-radius: 2px;
}

.ohmyfood-footer {
    background-color: $location-color;
    padding: 20px;

    & ul {
        margin: 0;
        list-style: none;
        padding-left: 0;
        padding-top: 15px;
        line-height: 25px;

        .list-flex-container {
            display: flex;
            align-items: center;

            i {
                font-size: 11px;
                width: 11px;
                margin-right: 10px;
            }
        }
    }
}

/* Media Queries */

/* Desktop media query */

@media screen and (min-width: 993px) {

    .how-it-works .how-title {
        @include flexcenter();
        padding-left: 0;
    }

    .restaurants h3 {
        @include flexcenter();
        padding-bottom: 30px;
        padding-left: 0;
    }

}

/* Tablet media query */

@media screen and (min-width:768px) and (max-width: 992px) {

    .how-it-works .how-title {
        @include flexcenter();
        padding-left: 0;
    }

    .restaurants h3 {
        @include flexcenter();
        padding-bottom: 30px;
        padding-left: 0;
    }

}