@mixin flexhorizontal($justification: space-between) {
  display: flex;
  justify-content: $justification;
  align-items: center;
}

@mixin flexstart {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
}

@mixin cardflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bastille-header {
  @include flexhorizontal();
  padding: 15px;
}

.arrow {
  font-size: 20px;

  & a {
    color: $location-color;
    text-decoration: none;
  }
}

.menu-logo {
  text-align: center;
  flex-grow: 1;
}

.menu-image {
  position: relative;
  width: 100%;
}

.bastille-menu {
  position: absolute;
  top: 40%;
  right: 0;
  background-color: white;
  width: 100%;
  padding-bottom: 100px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  h1 {
    @include flexstart();
    padding: $header-padding;
    margin: 0;
    width: 90%;

    & .full-heart {
      background-image: -webkit-gradient(linear, left top, right top, color-stop(.5, $secondary-color), color-stop(1, $primary-color));
      background-image: gradient(linear, left top, right top, color-stop(0.5, $secondary-color), color-stop(1, $primary-color));
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      position: absolute;
      top: 3px;
      left: 1px;
      z-index: 1;
      clip-path: inset(100% 0 0 0);
      transition: clip-path 0.7s;
    }

    .heart-icons {
      display: inline-block;
      position: relative;
      font-size: 25px;
      padding: 15px 20px;
      overflow: hidden;
    }

    .empty-heart {
      position: absolute;
      top: 3px;
      left: 1px;
      z-index: 2;
    }
  }

  h2 {
    padding: 10px 20px;

    & .border-text {
      border-bottom: solid 2px $tertiary-color;
      padding-bottom: 5px;
    }
  }

  .food-card-container {
    @include flexcenter();
    gap: 10px;

    .food-card {
      @include cardflex();
      margin: 0;
      width: 90%;
      box-shadow: 0 4px 10px 2px $shadow-light;
      border-radius: $corner-radius-default;
      padding: 10px;
      line-height: 25px;

      .tick {
        display: none;
      }

      .card-title {
        margin: 0;
      }

      .card-desc {
        margin: 0;
      }

      .price {
        margin: 0;
        padding-top: 25px;
      }

    }

  }

  .button-container {
    @include flexcenter();
    margin-top: 50px;
  }

}

.heart-icons:hover .full-heart {
  clip-path: inset(0 0 0 0);
}

.menu-footer {
  position: absolute;
  top: 215%;
  width: 100%;
}