@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    @include flexcenter();

    text-align: center;

    .logo-container {
        box-shadow: 0 4px 2px -2px grey;
        }

    .site-logo {
        width: 45%;
    }
    
    .site-logo-link a {
        @include flexcenter();
    }

    p {
        span {
            display: block;
        }
    }    
}

.how-list {
    counter-reset: item;
    list-style: none;

    & li {
        counter-increment: item;

        &:before {
            border-radius: 100%;
            background-color: $primary-color;
            width: 24px;
            height: 24px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            content:counter(item);
        }
    }
}